* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  display: flex;
  color: #fff;
  background-color: #000;
  font-family: "Poppins", sans-serif;
}

.main-container {
  max-width: 1220px;
}

.hero {
  display: grid;
  grid-template-columns: 50% auto;
}

.main-body {
  padding: 5%;
  background-color: #000;
  width: 100%;
}

.hero-text-heading {
  font-family: "Righteous", cursive;
  width: 14%;
  font-size: min(8vh, 10vw);
  color: #adff00;
}

.hero-text-para {
  font-weight: 300;
  color: #adff00;
  font-size: min(5vw, 24px);
  width: 55%;
  display: grid;
  margin-top: 3%;
  gap: 20px;
}

.hero-para span {
  color: #fff;
}

.btns {
  display: grid;
  margin-top: 25%;
  gap: 10px;
}

.button {
  border: 1px solid #adff00;
  width: fit-content;
  font-family: poppins;
  border-radius: 30px;
  padding: 0.4rem 1rem;
  color: #fff;
  font-size: 19.2px;
  transition-duration: 900ms;
}

.button:hover {
  background-color: #adff00;
  transition-duration: 900ms;
}

.hero-text {
  position: absolute;
  color: #fff;
  font-family: "Righteous", cursive;
  font-size: min(18vw, 200px);
  letter-spacing: 0.19em;
  top: 435px;
  z-index: 10;
}

.circles {
  display: flex;
  background-color: #ff9696;
}

#circle1 {
  position: absolute;
  width: 28%;
  aspect-ratio: 1;
  background: #adff00;
  border-radius: 50%;
  top: 200px;
  right: 252px;
  animation-name: circle1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

#circle2 {
  position: absolute;
  width: 28%;
  aspect-ratio: 1;
  background: rgba(97, 97, 97, 0.1);
  border: 0.5px solid #000;
  backdrop-filter: blur(46.5px);
  top: 349px;
  right: 124px;
  border-radius: 50%;
  animation-name: circle2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.explore-container {
  margin-top: 15em;
}

.explore-text {
  width: 50%;
  font-style: normal;
  font-weight: 600;
  font-size: min(10vh, 6vw);
  color: #fff;
}

.explore-text span {
  color: #adff00;
}

.explore-card {
  display: flex;
  position: absolute;
  right: 1%;
  gap: 20px;
}

.card {
  background-color: grey;
  height: 28vw;
  aspect-ratio: 0.65;
  border-radius: 1.875rem;
}

.card:nth-child(2) {
  background-color: #adff00;
}

.good-bye {
  font-size: 6.5vw;
  font-weight: 900;
  margin-top: 35vw;
  width: 50%;
  color: #adff00;
}

.bereal {
  transform: matrix(0.96, 0.3, -0.71, 0.71, 0, 0);
}

.once {
  transform: matrix(0.96, 0.3, -0.02, 1, 0, 0);
}

.bye-img {
  margin-left: 60%;
  width: 40%;
  background: #adff00;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bye-img > img {
  width: 60%;
}

footer {
  margin-top: 1em;
  background-color: #202020;
  display: flex;
  font-size: 10vw;
  justify-content: center;
}

@keyframes circle1 {
  0% {
    top: 200px;
    right: 252px;
  }

  50% {
    top: 349px;
    right: 124px;
  }

  100% {
    top: 200px;
    right: 252px;
  }
}

@keyframes circle2 {
  0% {
    top: 349px;
    right: 124px;
  }

  50% {
    top: 200px;
    right: 252px;
  }

  100% {
    top: 349px;
    right: 124px;
  }
}
